
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(211, 211, 211, 0.7);
  z-index: 10;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #215D6E;
  font-weight: bold;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.navbar .nav-link:hover,
.navbar-brand:hover {
    text-decoration: underline;
    
}

.hero-image {
  width: 100vw;
  height: 100vh;          
  overflow: hidden;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  object-position: center; 
  display: block;
  transform: scale(1.05); 
  transition: transform 0.5s ease; 
}

.hero-image:hover img {
  transform: scale(1.1);
}

.hero-content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2; /* above image */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.cta-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 1.5rem 23rem;
  background: rgba(255, 255, 255, 0.7); 
  border-radius: 20px;
  text-decoration: none; 
  text-align: center;
  width: 100%;
  max-width: 500px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.cta-container h1 {
  margin: 0;
  color: #215D6E; /* navbar text color */
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-container:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}
