<!DOCTYPE html> 
<html>

    <head>
	<meta charset="utf-8">
	<title>
	    J+K2027
	</title>
    </head>
    <body>
	<h1>
	    <a href="our-story.html">Our Story</a>
	</h1>
	<h1>
	    <a href="gallery.html">Gallery</a>
	</h1>
	<h1>
	    <a href="event-info.html">Event Info</a>
	</h1>
	<h1>
	    <a href="wedding-party.html">The Wedding Party</a>
	</h1>
	<h1>
	    <a href="registry.html">Registry</a>
	</h1>
	<h1>
	    <a href="about-the-area.html">About the area</a>
	</h1>
	<h1>
	    <a href="terminal.html">Coffee By</a>
	</h1>



    </body>


</html>
